$background-color-body: #293f50;
$background-color-ribbon: #1a1b1f;

$color-body: #f1f3f4;
$color-footer: #5f817c;
$color-ribbon: #f1f3f4;

$font-bold: 700;
$font-family: 'Work Sans', sans-serif;
$font-regular: 400;
$font-size: 16px;
$font-size-smaller: 13px;
